:root {
  --color-primary: #080b52;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-placeholder: #737a8e;
  --color-purple: #7a52b3;
  --color-purple2: #deadd2;
  --color-gray-text: #3f3f3f;
  --color-note: #b40f0f;
}

body {
}

.hidden,
.appear {
  display: none;
}

.header {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  /* background: rgb(88, 88, 88);
  background: radial-gradient(circle, rgba(88, 88, 88, 1) 0%, rgba(65, 65, 65, 1) 35%, rgba(55, 43, 57, 1) 100%); */
  /* background: rgb(65, 65, 65);
  background: radial-gradient(circle, rgba(65, 65, 65, 1) 0%, rgba(65, 65, 65, 1) 35%, rgba(45, 43, 55, 1) 100%); */
  background: url(../assets/images/header_graphite.jpg);
  background-size: cover;
}
.burger__icon {
  /* Найти оптимальную позицию кнопки, у медиа редачить */
  /* position: absolute;
  right: 10px;
  top: 25px;
  z-index: 101; */
}

.burger__button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  width: 30px;
  height: 30px;
}
.burger_line {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: transform 0.24s;
}

.burger_line:nth-child(1) {
  top: 4px;
  transform: translateY(-10px);
}
.burger_line:nth-child(3) {
  bottom: 4px;
  transform: translateY(10px);
}

.burger__button.open .burger_line:nth-child(1) {
  transform: rotate(45deg);
}

.burger__button.open .burger_line:nth-child(3) {
  transform: rotate(-45deg);
}

.burger__button.open .burger_line:nth-child(2) {
  opacity: 0;
}

/* #menu {
  display: none;
} */

.header__logo {
  color: #ffffff;
  font-family: Lugrasimo;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

/* .header__menu {
  display: flex;
} */

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

.header__menu-list-item {
  font-size: 36px;
  color: #ffffff;
  cursor: pointer;
}

/* .header__menu-list > li:not(:last-child) {
  margin-right: 15px;
} */

.popup {
  display: none;
  position: fixed;
  /* Нужно задать как высота шапки */
  /* top: 50px; */
  top: 75px;
  left: -101%;
  width: 100%;
  height: 100%;
  background: rgb(65, 65, 65);
  background: radial-gradient(circle, rgba(65, 65, 65, 1) 0%, rgba(65, 65, 65, 1) 35%, rgba(45, 43, 55, 1) 100%);
  z-index: 100;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}

.popup.open {
  left: 0;
}

/* Main section */
.main {
  /* background-image: url(../assets/images/bg_3.jpg); */
  /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
  /* background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%); */
  /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
  background-color: var(--color-purple2);
  width: 100%;
  padding: 30px 0;
  /* height: 500px; */
}

.main_text {
  font-family: "Lobster-Regular";
  color: var(--color-white);
  font-size: 30px;
  letter-spacing: 0.4rem;
}
.main_line {
  display: block;
}

.quiz {
  background-color: var(--color-purple2);
  background-image: url(../assets/images/bg_3.jpg);
}

.title {
  font-family: Lugrasimo;
  font-size: 3.2rem;
  line-height: 4.4rem;
  letter-spacing: 0.464rem;
  text-align: center;
  color: var(--color-primary);
}

.text {
  font-family: Montserrat-Regular;
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-light);
  line-height: 1.95rem;
  letter-spacing: 0.144rem;
}

.quiz__inner__note {
  color: var(--color-note);
  margin-bottom: 1.2rem;
}

.quiz-form__form {
  overflow: hidden;
}

.form__iframe {
  margin-right: -20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-color: #0c0422;
  height: 75px;
}

.footer__button {
  /* font-family: "Montserrat-Regular"; */
  font-family: "Kurale-Regular";
  background-color: transparent;
  color: var(--color-white);
  font-size: 20px;
}

/* Light mode */

.header__ligth {
  background-image: none;
  background-color: #441796;
}

.pozitive_text {
  display: none;
}
.quiz__ligth {
  display: none;
}

.main__ligth {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}
.main_text__ligth {
  display: none;
}
.pozitive_text__ligth {
  display: block;
  font-family: "Lobster-Regular";
  color: var(--color-white);
  font-size: 30px;
  letter-spacing: 0.4rem;
}

@media (max-width: 576px) {
  .main_text,
  .pozitive_text {
    font-size: 22px;
  }
  .quiz__inner__title {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .main_text,
  .pozitive_text {
    font-size: 25px;
  }
}
